body{
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
    padding: 80px;
    text-align: left;
    color: #ddd;
	
}
.footer {
   padding: 20px; /* Some padding */
    text-align: right; /* Center text*/
    background: #transparent; /* Grey background */
    color: white;
    font-size: 25px;
}
table {
    
    width: 100%;
     
}

th {
    height: 40px;
	padding: 25px;
	background-color:#422f2f;
    color: white;
}
td {
    padding: 25px;
    text-align: left;
	color: white;
	background-color: #808080;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
